.li-info{
    background-color:aliceblue;
}
.line-info {
    display: flex;
    flex-flow: row;
    border: solid;
    border-color:azure;
}
.mini-column{
    border:solid;
    border-color:aqua;
    width:100px;
}
.fat{
    //background-color:red;
    width:200px;
}