name: run
on: push
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: install deps
              run: npm install
            - name: run
              run: npm run start