name: run
on: push
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Install deps
              runs: npm install
            - name: Lint
              runs: npm run start